<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>png_shuiguo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{0,281},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_shuiguo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,152}</string>
                <key>spriteSourceSize</key>
                <string>{153,152}</string>
                <key>textureRect</key>
                <string>{{315,129},{153,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_shuiguo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_shuiguo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,129}</string>
                <key>textureRect</key>
                <string>{{256,0},{135,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_shuiguo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,180}</string>
                <key>spriteSourceSize</key>
                <string>{159,180}</string>
                <key>textureRect</key>
                <string>{{167,281},{159,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_shuiguo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,149}</string>
                <key>spriteSourceSize</key>
                <string>{151,149}</string>
                <key>textureRect</key>
                <string>{{0,129},{151,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_shuiguo7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,0},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_shuiguo8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,150}</string>
                <key>spriteSourceSize</key>
                <string>{164,150}</string>
                <key>textureRect</key>
                <string>{{151,129},{164,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fruitsAltals.png</string>
            <key>size</key>
            <string>{468,461}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da366b64780b1e8c4863389b4a902f7f:503c1a64f1a3dbd4f6f680a3c1f76739:9643ccaa13d6be42d237c18758f2eab6$</string>
            <key>textureFileName</key>
            <string>fruitsAltals.png</string>
        </dict>
    </dict>
</plist>
