<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,109}</string>
                <key>spriteSourceSize</key>
                <string>{306,109}</string>
                <key>textureRect</key>
                <string>{{0,181},{306,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,108}</string>
                <key>spriteSourceSize</key>
                <string>{305,108}</string>
                <key>textureRect</key>
                <string>{{0,73},{305,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kaishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{105,0},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zhanting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{178,0},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_dao_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,174}</string>
                <key>spriteSourceSize</key>
                <string>{45,174}</string>
                <key>textureRect</key>
                <string>{{306,181},{45,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_dao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,174}</string>
                <key>spriteSourceSize</key>
                <string>{45,174}</string>
                <key>textureRect</key>
                <string>{{351,181},{45,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_dao_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,176}</string>
                <key>spriteSourceSize</key>
                <string>{45,176}</string>
                <key>textureRect</key>
                <string>{{396,181},{45,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_dikuan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,73}</string>
                <key>spriteSourceSize</key>
                <string>{104,73}</string>
                <key>textureRect</key>
                <string>{{251,0},{104,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_dikuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,45}</string>
                <key>spriteSourceSize</key>
                <string>{43,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>png_xing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{43,0},{62,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>panelAtlas.png</string>
            <key>size</key>
            <string>{441,357}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b307f94cf716083117dd60dbcc463761:6713af7e1d43899fad04f0c2272a9552:9e01bbcde08325c25096c92b1c493bd2$</string>
            <key>textureFileName</key>
            <string>panelAtlas.png</string>
        </dict>
    </dict>
</plist>
