<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,154},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,124}</string>
                <key>spriteSourceSize</key>
                <string>{141,124}</string>
                <key>textureRect</key>
                <string>{{724,1},{141,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,96}</string>
                <key>spriteSourceSize</key>
                <string>{256,96}</string>
                <key>textureRect</key>
                <string>{{466,1},{256,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{243,89}</string>
                <key>spriteSourceSize</key>
                <string>{245,89}</string>
                <key>textureRect</key>
                <string>{{221,1},{243,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,87}</string>
                <key>spriteSourceSize</key>
                <string>{218,87}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,196}</string>
                <key>spriteSourceSize</key>
                <string>{151,196}</string>
                <key>textureRect</key>
                <string>{{1028,1},{151,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pngtouxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,159}</string>
                <key>spriteSourceSize</key>
                <string>{127,159}</string>
                <key>textureRect</key>
                <string>{{867,1},{127,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker2.png</string>
            <key>size</key>
            <string>{1922,1235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fd1086b2f698622992c8df419768065:96744378598b5cb4538e2bc2d613d687:c2c608b87c15753f10ccef9fb8d08934$</string>
            <key>textureFileName</key>
            <string>poker2.png</string>
        </dict>
    </dict>
</plist>
